header {
  width: 100%;
  text-align: center; 
  height: 100px; 

}

h2{
    color: #feff3b;
    background-color: #0086ff;
    display: inline-block;
    padding: 11px;
    border: 6px solid black;
    margin-top: 12px;
    text-shadow: 2px 3px 2px black;
    background-image: url(../images/eagle-lake.jpg);
    background-size: 101%;
    background-repeat: no-repeat;
    background-position: -3% 47%;
    position: relative;
    width: 80%;
}

 