main {
    width: 100%;
    margin: 14px 0 0 0;
    border: solid 3px black;
    background-color: lightyellow;
    overflow: auto;
    height: 100%;
    position: relative;
    background-image: url(./live-well.jpg);
    background-repeat: no-repeat;
    background-size:311%;  
    background-position: 50% 0%;
  
      @media (min-width: 425px){
        background-image: url(../images/live-well-desktop.jpg);
        background-size: cover; 
      
      }
      @media(min-width: 700px){
          text-align: center; 
      }
    
      @media(min-width: 1024px){
        background-image: url(../images/live-well-desktop.jpg);
        background-size: 100%; 
      }

#view-fish {  
    margin: 7px auto;
    width: 94px;
    display: block;
    padding: 17px;
    background: #faffe9;
    font-size: 1.1em;
    font-weight: bold;
    box-shadow: inset 0 0 7px #000000;
    border: none;}

#add-fish-info {
    margin: 26px auto 0;
    width: 163px;
    display: block;
    padding: 50px;
    position: absolute;
    left: 0;
    right: 0;
    background: #faffe9;
    font-size: 1.1em;
    font-weight: bold;
    box-shadow: inset 0 0 7px #000000;
    border: none;}

form {
    display: none;   
  label {
    display: block;
    color: #00ff63;
    font-size: 1.3em;
    background-color: black;
    width: 160px;
    font-family: sans-serif;
    margin: 15px 0;
    padding-left: 4px;
    border-radius: 5px;
    display: block;

    @media(min-width: 700px){
      margin: 29px auto;   
      width: 253px; 
      padding: 5px;
    }
  }
  select{
    height: 44px;
    font-size: 1.5em;
    border: none;
    border-radius: 2px;
    margin-left: 1px;
  }
  span {
    color: #71ff00;
    font-size: 1.1em;
    font-family: sans-serif;
    background-color: rgba(90, 0, 255, 0.24);
    width: 62px;
    display: inline-block;
    padding-left: 3px;
    border-radius: 5px;
    text-shadow: 2px 2px 16px #8cbf5e;
}
  #submit-fish{
    margin: 27px auto 0;
    display: block;
    padding: 20px 41px;
    border-radius: 6px;
    border: none;
    box-shadow: inset 0px 0px 10px 1px black;
    background-color: #b9ff00;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 1px 1px 3px #3ddf48;

  }
  #cancel{
    margin: 16px auto 0;
    display: block;
    border-radius: 6px;
    border: none;
    box-shadow: inset 0px 0px 10px 1px black;
    background-color: #ff0000;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    width: 119px;
    height: 56px;   }
}

}
